@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* MAIN COLORS */
  --primary: #BBFF49;
  --secondary: #732AEF;
  /* DARK THEMES */
  --dark-theme-background: #1A1919;
  --dark-theme-body: #0A0B0B;
  --dark-theme-text: #B0B0B0;
  /* LIGHT THEMES */

}
